<% order_items.each do |order_item| %>
  <div class="flex w-full items-center justify-between min-h-10 py-6 bg-gray-400 px-2">
    <div class="flex items-center">
      <%= image_tag order_item.painting.images[0].variant(resize_to_fill: [50, 50, { gravity: 'Center' }]) %>
      <h2 class="text-xl pl-2"><%= order_item.painting.name %></h2>
    </div>
    <button class="cursor-pointer"
            data-reflex="click->Cart#remove"
            data-id="<%= order_item.id %>"
    >remove</button>
  </div>
<% end %>
