<div class="sidebar bg-gray-300 hidden border-b-2 border-l-2 border-r-2 border-black z-20 absolute right-0" id="sidebar" data-controller="sidebar" data-sidebar-target="sidebar">
  <h2 class="text-2xl text-gray-900 text-center typewriter tracking-tight"> Your Cart </h2>
  <% if @order_items %>
    <div order_items>
      <%= render 'cart/sidebar_items', :order_items => @order_items %>
    </div>
  <% end %>
</div>
