<div class="mx-auto site-size pb-10 border-2 border-blue-200 rounded-sm">
    <div class="h-10 py-10 w-full flex items-center justify-between px-2 bg-blue-200">
      <a href="/pages/admin"> <h2 class="text-2xl"> Admin Page </h2> </a>
      <h2 class="text-2xl text-gray-700"> Editing Item </h2>
    </div>
    <%= render 'form', painting: @painting %>
    <div class="flex w-full justify-end pr-8 mt-10 md:mt-0 ">
      <%= button_to "delete painting", @painting, class: "bg-transparent py-1 px-4 rounded-sm border-2 border-red-500 hover:bg-red-500 transition-colors duration-500", method: :delete, data: { confirm: "Are you sure you want to delete this painting"} %>
    </div>
</div>
