<div class="h-screen w-full flex flex-col items-center bg-blue-200">
  <div class="card-size bg-gray-300">
    <h1 class="text-3xl mt-6 text-center">Post new listing</h1>
    <%= render 'form', painting: @painting %>
  </div>
</div>
