<div class="h-screen w-full flex flex-col">
  <br><br>
  <div class="image flex items-center relative" data-controller="carousel">
    <% @painting.images.each.with_index do |image, index| %>
      <div class="hidden image" data-target="carousel.image" id="image-<%= index %>" data-index="<%= index %>">
        <%= image_tag(image.variant(resize_to_fill: [600, 600, { gravity: "Center" }])) %>
      </div>
    <% end %>
    <div class="carousel-buttons h-10 flex justify-between items-center px-4 absolute ">
      <a data-action="carousel#previousImage" class="text-gray-500 text-5xl hover:text-gray-600 transition-all duration-200 cursor-pointer"><</a>
      <a data-action="carousel#nextImage" class="text-gray-500 text-5xl hover:text-gray-600 transition-all duration-200 cursor-pointer">></a>
    </div>
  </div>
  <div class="h-full w-full">

  </div>
</div>
