<div class="flex flex-col items-center min-h-screen min-w-full bg-blue-300">
  <div class="large-pic-container about-page-image flex flex-col items-center justify-center">
    <h2 class="text-6xl absolute text-gray-300">About Art Flow</h2>
  </div>
  <br><br><br><br>
  <p class="text-lg text-center w-full px-10">I'm baby mumblecore yuccie bicycle rights polaroid. Plaid glossier kogi venmo af cliche helvetica church-key chillwave lo-fi godard scenester meggings. Master cleanse swag vice tacos poutine XOXO messenger bag squid cred. Truffaut fashion axe farm-to-table, activated charcoal deep v plaid fingerstache meggings. Chartreuse direct trade lomo taxidermy farm-to-table williamsburg YOLO tumeric. Tote bag fingerstache gochujang butcher.</p>
</div>
