<div class="flex flex-col items-center min-h-screen min-w-full">
  <div class="site-size large-pic-container about-page-image flex flex-col items-center justify-center">
    <h2 class="text-4xl absolute text-gray-300">About Art Flow</h2>
  </div>
  <% if @site_detail %>
    <div class="typewriter mt-4 text-xl"> <%= @site_detail.content %> </div>
  <% end %>
</div>
