<div class="w-full flex flex-col items-center h-screen bg-blue-300">
  <div class="large-pic-container about-page-image flex flex-col items-center justify-center">
    <h2 class="text-6xl absolute text-gray-300">About Art Flow</h2>
  </div>
</div>
