<div class="flex flex-col items-center min-h-screen min-w-full">
  <div class="contact-page-container flex flex-col items-center justify-center">
    <h2 class="text-6xl absolute text-gray-900">Contact Art flow</h2>
  </div>
</div>
