<div class="w-full flex flex-col items-center min-h-screen">
  <div class="site-size large-pic-container home-page-image"></div>
  <h2 class="my-10 text-5xl pt-4">Categories</h2>
  <br>
  <div class="site-size h-full flex flex-col py-10 border-t-2 border-black">
    <a href="<%= paintings_path %>" class="landscapes-btn flex justify-center items-center my-4 md:my-0 md:bg-gray-300 hover:bg-transparent w-full min-h-10 py-8 cursor-pointer">
      <h3 class="text-xl text-gray-900 bg-gray-300 px-8 py-2 transform hover:scale-105 transition-transform duration-300">Landscapes</h3>
    </a>
    <a href="<%= paintings_path %>" class="impressionistic-btn flex justify-center items-center my-4 md:mb-0 mt-6 md:bg-gray-300 hover:bg-transparent w-full min-h-10 py-8 cursor-pointer">
      <h3 class="text-xl text-gray-900 bg-gray-300 px-8 py-2 transform hover:scale-105 transition-transform duration-300">Impressionistic art</h3>
    </a>
    <a href="<%= paintings_path %>" class="abstract-btn flex justify-center items-center my-4 md:my-6 md:bg-gray-300 w-full hover:bg-transparent  min-h-10 py-8 cursor-pointer">
      <h3 class="text-xl text-gray-900 bg-gray-300 px-8 py-2 transform hover:scale-105 transition-transform duration-300">Abstract</h3>
    </a>
  </div>
</div>
