/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 $fa-font-path: '@fortawesome/fontawesome-free/webfonts';
 @import '@fortawesome/fontawesome-free/scss/fontawesome';
 @import '@fortawesome/fontawesome-free/scss/solid';
 @import '@fortawesome/fontawesome-free/scss/regular';
 @import '@fortawesome/fontawesome-free/scss/brands';
 @import '@fortawesome/fontawesome-free/scss/v4-shims';

 /* Main Styling */
 body {
   display: flex;
   flex-direction: column;
   align-items: center;
 }

  .site-size {
    max-width: 1250px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
  }
 /* Navbar and Top Section */
 .top-space {
   height: 8em;
 }
 /* Sidebar Cart Styling */

 .sidebar {
   width: 0px;
   height: 100%;
   position: fixed;
   right: 0;
   z-index: 11;
   transition: width 700ms;
 }


 /* Styling for Posts*/



 .large-card-size {
   width: 85vw;
   min-height: 60em;
 }

.card-size {
  width: 40em;
  height: 40em;
}

.admin-tile {
  min-height: 30em;
  width: 30em;
}

.tile-size {
  height: 30em;
  width: 24em;
}

.body-container {
  margin: auto 40px;
  width: 100%;
}

.page-width {
  height: 100vh;
  background-color: pink;
  flex-grow: 1;
}


@media (max-width: 750px) {

  .body-container {
    margin: 0px;
    width: 100%;
  }

}
