// Place all the styles related to the pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
/* Cross Page Styling */


.large-pic-container {
  height: 70vh;
  width: 100%;
  background-size: cover;
}

.picture-border {
  width: 100%;
  height: 100%;
}
/* Home Page Styling */

.home-page-image {
  background-image: url("/store_bg.jpg");
}

.impressionistic-btn:hover {
  background-image: url("/impressionistic.jpg");
  background-position: center;
  background-size: cover;
}


.landscapes-btn:hover {
  background-image: url("/landscape.jpg");
  background-position: center;
  background-size: cover;
}

.abstract-btn:hover {
  background-image: url("/abstract.jpg");
  background-position: center;
  background-size: cover;
}

/* About Page Styling */

.about-page-image {
  background-image: url("/art.jpg");
}

/* Contact Page Styling */

.contact-page-container {
  height: 60vh;
  width: 100%;
}

.contact-page-picture {
  background: url("/landscape.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

@media (max-width: 900px) {
  .impressionistic-btn {
    background-image: url("/impressionistic.jpg") !important;
    background-position: center !important;
    background-size: cover;
  }


  .landscapes-btn {
    background-image: url("/landscape.jpg");
    background-position: center;
    background-size: cover;
  }

  .abstract-btn {
    background-image: url("/abstract.jpg");
    background-position: center;
    background-size: cover;
  }

  .large-pic-container {
    width: 200vw;
    background-position: center;
  }


  .picture-border {
    width: 80vw;
    overflow: hidden;
  }

}
