// Place all the styles related to the paintings controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
/* Show Page Styling */

.carousel-buttons {
  width: 500px;
}

.image {
  height: 500px;
  width: 500px;
  -webkit-tap-highlight-color:transparent;
  -webkit-user-select: none; /* Chrome/Safari */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* IE10+ */
}

@media (max-width: 768px) {
  .image {
    height: 300px;
    width: 300px;
  }
  .carousel-buttons {
    width: 300px;
  }
}
