<nav class="min-h-10 w-full px-4 py-4 bg-gray-200 flex items-center justify-between top-0 sticky">
  <div class="min-w-10 flex items-center">
    <%= link_to "Art Flow", root_path, :class => "text-4xl text-blue-400" %>
    <%= link_to "Paintings", paintings_path, :class => "text-gray-900 text-xl ml-4 hover:text-blue-400" %>
    <%= link_to "About", pages_about_path, :class => "text-gray-800 text-lg ml-4 hover:text-blue-400" %>
  </div>
  <div class="flex items-center min-w-10">

  </div>
</nav>
