<nav class="bg-gray-400 min-h-10 w-full px-4 py-2 flex items-center justify-between border-t border-b border-black">
  <div class="min-w-10 flex items-center">
    <%= link_to "Art Flow", root_path, :class => "text-3xl hover:text-gray-900" %>
    <%= link_to "Paintings", paintings_path, :class => "text-xl ml-4 hover:text-gray-800" %>
    <%= link_to "About", pages_about_path, :class => "text-lg ml-4 hover:text-gray-700" %>
  </div>
  <div class="flex items-center min-w-10">

  </div>
</nav>
